{% extends 'main.html' %}
{% load static %}


{% block content %}
    <div class="d-flex flex-start flex-wrap justify-content-evenly ">

        {% for product in products %}
        <div class="product card shadow border-0">
            <!--  we are adding imageURL property to product model by replacinf product.image.url-->
            <img src="{{product.imageURL}}" alt="product image">
            <div class="product-content">
                <h5><strong>{{product.name}}</strong></h5>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary update-cart">Add to cart</button>
                <button class="btn btn-outline-success" >View</button>
                <h4 style="float:right">&#x20B9;{{product.price|floatformat:2}}</h4>
            </div>
        </div>

        {% endfor %}

    </div>


{% endblock content %}