{% extends 'main.html' %}

{% block content %}

<div class="container">
    <form class="card shadow col-5 mx-auto p-3 mt-3" method="post" action="{% url 'forgot_password' %}">

        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                <span class="text-center">{{ message }}</span>
            </div>
        {% endfor %}    

        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary form-control mx-auto">Reset Password</button>
    </form>
</div>

{% endblock %}

